<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull w-screen">

	<section class="w-full">
		<!-- wp:pattern {"slug":"vip-football-theme/team-slide"} /-->
	</section>

    <section class="w-full has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
		<!-- wp:heading {"level":1,"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|50"}}}} -->
			<h2 class="wp-block-heading alignwide text-2xl" style="padding-top:var(--wp--preset--spacing--20)">Tournaments</h2>
		<!-- /wp:heading -->
		<!-- wp:pattern {"slug":"vip-football-theme/tournament-slide"} /-->
	</section>

	<section class="w-full has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
		<!-- wp:heading {"level":1,"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|50"}}}} -->
			<h2 class="wp-block-heading alignwide text-2xl" style="padding-top:var(--wp--preset--spacing--20)">Popular</h2>
		<!-- /wp:heading -->
		<!-- wp:pattern {"slug":"vip-football-theme/event-slide"} /-->
	</section>

	<section class="w-full has-global-padding is-layout-constrained wp-block-group-is-layout-constrained"></section>
		<!-- wp:template-part {"slug":"home-info","area":"home-info","tagName":"section", "className":"p-6"} /-->
	</section>

	<!-- wp:template-part {"slug":"newsletter","area":"newsletter","tagName":"newsletter"} /-->
	
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"", "className":"content-center w-screen mt-0 py-12 bg-[#201E1E]"} /-->